<script>
	import Template from '../../Template.svelte'
	import Todos from './Todos.svelte'
	import Message from './Message.svelte'

	let show = 'todo'
	let displayButton = false
</script>

{#if displayButton}
<button on:click={() => show = (show === 'template' ? 'todo' : 'template' )}>
show {show === 'template' ? 'todo' : 'template'}
</button>
<hr />
{/if}

{#if show === 'template'}
	<Template />
{:else if show === 'todo'}
	<Message />
	<Todos todos={[
		{ id: 1, text: 'learn svelte', done: true },
		{ id: 2, text: 'make a great nardoz presentation', done: false },
		{ id: 3, text: 'get rich', done: false },
		{ id: 4, text: 'conquer the world', done: false },
	]} />
{/if}