<script>
  import { message } from '../stores.js'

  export let todos = []

  let newTodo = ''

  let filter = 'all'
  let filteredTodos = []

  $: totalTodos = todos.length

  $: totalDone = todos.filter(t => t.done).length

  $: totalPending = totalTodos - totalDone

  $: nextId = totalTodos ? Math.max(...todos.map(t => t.id)) + 1 : 1

  $:
    if (filter === 'done') 					filteredTodos = todos.filter(t => t.done)
    else if (filter === 'pending')	filteredTodos = todos.filter(t => !t.done)
    else filteredTodos = todos

  const addTodo = () => {
    if (newTodo) {
      // message.set(`task "${newTodo}" added`)
      $message = `todo "${newTodo}" added`
      todos = [...todos, {id: nextId, text: newTodo, done: false}]
      newTodo = ''
    }
  }

  const removeTodo = ({ id, text }) => {
    $message = `todo "${text}" removed`
    todos = todos.filter(t => t.id !== id)
  }

</script>

<div class="todo-container">

  <div class="card">

    <div class="title">
      <h1>SvelteJs Todo demo</h1>
      <h3>Done {totalDone} of {totalTodos} todo{totalTodos > 1 ? 's' : ''}, {totalPending} pending</h3>
    </div>

    <div class="add-todo">
      <input placeholder="Add todo" bind:value={newTodo} />
      <button on:click={addTodo} class="add" disabled={!newTodo}>Add</button>
    </div>

    <div class="items">

      {#if filteredTodos.length > 0}
        {#each filteredTodos as t, i (t.id)}
          <div class="item">
            {#if t.editing}
              <input bind:value={t.text} on:blur={ () => t.editing = false } autofocus />
            {:else}
              <p class="{ t.done ? 'done' : 'pending' }" on:click={ () => t.editing = true }>{i+1}. {t.text} ({t.id})</p>
            {/if}
            <button class="{ t.done ? 'pending' : 'done' }" on:click={ () => t.done = !t.done }>{ t.done ? 'Not done' : 'Done' }</button>
            <button class="remove" on:click={ () => removeTodo(t) }>Remove</button>
          </div>
        {/each}
      {:else}
        <div class="item text-center">
          <p>No todos here!</p>
        </div>
      {/if}

    </div>

    <div class="footer">
      <ul class="option">
        <li><p class:selected={ filter === 'all' } on:click={ () => filter = 'all' }>All</p></li>
        <li><p class:selected={ filter === 'pending' } class:disabled={ totalPending == 0 } on:click={ () => filter = 'pending' }>Pending</p></li>
        <li><p class:selected={ filter === 'done' } class:disabled={ totalDone == 0 } on:click={ () => filter = 'done' }>Done</p></li>
      </ul>
      <button class="remove" class:disabled={ totalDone == 0 } on:click={ () => todos = todos.filter( t => !t.done ) }>Remove completed</button>
    </div>

  </div>

</div>