/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

/* custom */

.img-state-of-js-overview img {
  max-width: 70%
}

.img-state-of-js-other-libraries img {
  max-width: 80%
}

.img-state-of-js-svelte img {
  max-width: 90%
}

.img-svelte-compared-size img {
  max-width: 65%
}

.img-svelte-compared-loc img {
  max-width: 65%
}

.headline {
  color: gold;
  text-transform: uppercase;
}

.byline {
  color: gray;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.reveal li {
  padding-bottom: 20px;
}

/* codemax */

body {
  /* fallback for old browsers */
  background: #8E0E00;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #1F1C18, #8E0E00);
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 60vh !important;
  opacity: 0.95;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #1f1c18;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  background: #54140c;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
  display: none;
}
.reveal div.left {
    float: left;
    z-index: -10;
    width: 45%;
}

.reveal div.right {
    float: right;
    z-index: -10;
    width: 55%;
}

.reveal a.pro-link {
    font-size: 0.5em;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }
